<section>
    <div class="container">
        <div class="col-md-6 pt-5 m-auto">
            <h1 class="mb-5">Create Account</h1>
            <form method="post" action="/signup">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="name" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
                <a href="/login">
                    <p>Alredy an Account ?</p>
                </a>
            </form>
        </div>
    </div>
</section>